<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary"> Sign up</h2>
    <hr>
    <div class="form-group">
        <label class="control-label" style="margin-right: 10px;">Area</label>
        <label class="radio-inline">
            <input type="radio" value='Fitness & Health' formControlName='area'> Fitness & Health
        </label>
        <label class="radio-inline">
            <input type="radio" value='IT' formControlName='area' class="ml-3"> IT
        </label>
        <label class="radio-inline">
            <input type="radio" value='Spa and Beauty' formControlName='area' class="ml-3"> Spa and Beauty
        </label>
        <label class="radio-inline">
            <input type="radio" value='Home and Repair' formControlName='area' class="ml-3"> Home & Repair
        </label>
        <label class="radio-inline">
            <input type="radio" value='Courier' formControlName='area' class="ml-3"> Courier
        </label>

    </div>

    <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Username"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["knownAs"]' [label]='"Name"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["email"]' [label]='"Email"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["phone"]' [label]='"Phone"'></app-text-input>
    <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [label]='"Date Of Birth"'></app-date-input>
    <app-text-input [formControl]='registerForm.controls["city"]' [label]='"City"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["country"]' [label]='"Country"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-input>

    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="form-group text-center">
        <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>